<section class="hero-section">
    <div class="main-banner">
      <div class="banner-content">
        <span class="subtitle">Up to</span>
        <h1>45% OFF</h1>
        <p>Thousands of pet favourites</p>
        <button class="btn-shop-now">Shop Now ❯</button>
      </div>
      <div class="banner-image main-cat-bg">
        </div>
      <div class="carousel-dots">
        <span class="dot active"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
    </div>

    <div class="side-banners">
      <div class="side-card kitty-card">
        <div class="side-content">
          <h2>Lookin for Kitty Stuff???</h2>
          <button class="btn-arrow">Shop here ❯</button>
        </div>
        <div class="side-img cat-glasses"></div>
      </div>
      
      <div class="side-card doggy-card">
        <div class="side-content">
          <h2>Lookin for Doggy Stuff???</h2>
          <button class="btn-arrow">Shop here ❯</button>
        </div>
        <div class="side-img dog-hoodie"></div>
      </div>
    </div>
  </section>